:root {
    /* Fonts */
    --main-fonts: Roboto, sans-serif;
    --main-spacing: 0.03em;
    /* color */
    --primary-text-color: #212121;
    --accent-color: #757575;
    --bg-color: #FFFFFF;
    --text-color: #000;
    --logo-color: #2196F3;
    --second-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --button-hover-color: #188CE8;
    --cards-border-color: #eeeeee;
    
}
/* reset */
h1,
h2,
h3,
h4,
h6,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
/* body */
body {
    font-size: 14px;
    font-family: var(--main-fonts);
    letter-spacing: var(--main-spacing);
    background-color: var(--bg-color);
    color: var(--text-color);
}
.current {
    color: var(--logo-color);
}
.push {
    color:var(--logo-color);
}

/* header */
.container {
    min-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.page-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ECECEC;
}
.header-nav {
    display: flex;
}

/* logo */
.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: var(--logo-color);
    text-decoration: none;
    font-family: raleway;
    padding: 24px 0;
    margin-left: 215px;

}

.logo-span {
    color: var(--text-color);
    text-decoration: none;
}
/* nav */
.container-nav {    
}
.site-nav {
    font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        cursor: pointer;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        padding-left: 93px;
        margin: 0 0;
}

.site-nav:hover, .site-nav:focus, .site-nav:active {
    color: var(--logo-color);
}
.nav-link {
    text-decoration: none;
    padding: 32px 0;
}

/* contacts */
.contact-information {
    font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
        color: var(--accent-color);
        cursor: pointer;
        text-decoration: none;
        margin-left: auto;
        display: flex;
        align-items: flex-end;
        padding: 32px;
}
.contact-information:hover, .contact-information:focus {
    color: var(--logo-color);
}
.site-contact {
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* gap: 50px; */
    padding-left: 344px;
    margin: 0;
}

/* unique page content */
/* hero */
.hero {
    background-color: var(--footer-bg-color);
        text-align: center;
        padding-top: 0;
}

.hero-title {
    color: var(--bg-color);
    text-transform: uppercase;
    font-weight: 900;
        font-size: 44px;
        line-height: calc(60 / 44);
        text-align: center;
        letter-spacing: 0.06em;
        margin: 0;
        padding-top: 215px;
}
.hero-button {
    border: 0;
        padding: 10px 32px;
        margin-top: 30px;
        margin-bottom: 200px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
        font-size: 16px;
        line-height: calc(30 / 16);
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    background-color: var(--logo-color);
    color: var(--bg-color);
    cursor:pointer;
}
.hero-button:hover, .hero-button:focus {
background-color: var(--button-hover-color);
}

/* section one */
.section {
}

.visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}

.section-about {
    list-style: none;
    display: flex;
    margin: 0;
    padding-top: 107px;
    gap: 30px;
    height: 98px;
    justify-content: center;
}
.container-section {
    width: 270px;
}

.section-title {
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        text-transform: uppercase;
        color: var(--primary-text-color);
        margin: 0;
}

.section-text {
        font-size: 14px;
        line-height: calc(24 / 14);
        color: var(--accent-color);
        padding-top: 10px;
        margin: 0;
}
/* section two */
.about {
    padding-top: 94px;
}

.about-title {
        font-weight: 700;
        font-size: 36px;
        line-height: calc(44 / 36);
        text-align: center;
        color: var(--primary-text-color);
        margin: 0;
}
.about-list {
    list-style: none;
    margin: 0;
    padding-top: 50px;
    padding-left: 0;
    padding-bottom: 94px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-end;
}

/* section three */
.company {
    background-color: var(--second-bg-color);
    /* padding-bottom: 94px; */
    /* height: 684px; */
    padding-top: 94px;
}

.company-title {
        font-weight: 700;
        font-size: 36px;
        line-height: calc(44 / 36);
        text-align: center;
        color: var(--primary-text-color);
        display: flex;
        justify-content: center;
        margin: 0;
        
}
.list-foto {
    display: flex;
    gap: 30px;
    padding-left: 0;
    justify-content: center;
    padding-top: 50px;
    margin: 0;
    padding-bottom: 94px;
}
.company-list {
    background-color: var(--bg-color);
    list-style: none;
    padding-top: 0;
}
.img {
    padding-top: 0;
}

.company-name {
        font-weight: 500;
        font-size: 16px;
        line-height: calc(19 / 16);
        text-align: center;
        color: var(--primary-text-color);
        padding-top: 30px;
}

.company-text {
        font-size: 16px;
        line-height: calc(19 / 16);
        text-align: center;
        color: var(--accent-color);
        padding-top: 10px;
        padding-bottom: 30px;
}
/* footer */
.footer {
    background-color: var(--footer-bg-color);
    /* height: 252px; */
    padding-top: 60px;
    padding-bottom: 60px;
}
.container-logo {
}
.logo-footer {
    padding: 0;
    padding-left: 215px;
    margin-left: 0;
}
.footer-span {
    color: var(--bg-color);
}

.footer-text {
        font-size: 14px;
        line-height: calc(24 / 14);
        color: var(--bg-color);
        font-style: normal;
        margin: 0;
        padding-bottom: 9px;
}
.footer-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.container-footer {
    padding-top: 0;
    padding-left: 215px;
    padding-top: 20px;
    /* margin-bottom: 60px; */
}

.footer-contacts {
        font-size: 14px;
        line-height: calc(24 / 14);
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        font-style: normal;
}
.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contacts:hover, .footer-contacts:focus, .footer-contacts:active{
    color: var(--logo-color);
}
.btn-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 94px;
}
.img-list {
    list-style: none;
    background-color: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 94px;
}
.portfolio-item {
}
.link-img {
    text-decoration: none;
}
.portfolio-group {
    padding: 20px 24px;
    border-left: 1px solid var(--cards-border-color);
    border-right: 1px solid var(--cards-border-color);
    border-bottom: 1px solid var(--cards-border-color);
}

.img-title {
    font-weight: 700;
        font-size: 18px;
        line-height: calc(36 / 18);
        letter-spacing: 0.06em;
        color: var(--primary-text-color);
}

.sub-text {
    font-size: 16px;
        line-height: calc(30 / 16);
        color: var(--accent-color);
        padding-top: 4px;
}

.section-btn {
    margin-left: 215px;
}

.btn {
    border: 0;
    border-radius: 4px;
    font-family: inherit;
    background-color: var(--second-bg-color);
    color: var(--primary-text-color);
    cursor: pointer;
    font-weight: 500;
        font-size: 16px;
        line-height: calc(26 / 16);
        text-align: center;
}
.one {
    width: 73px;
    min-height: 38px;
    padding: 6px 25px;
}

.two {
    width: 125px;
    min-height: 38px;
    padding: 6px 22px;
}

.three {
    width: 112px;
    min-height: 38px;
    padding: 6px 22px;
}

.four {
    width: 103px;
    min-height: 38px;
    padding: 6px 22px;
}

.five {
    width: 130px;
    min-height: 38px;
    padding: 6px 22px;
}
.btn:hover, .btn:focus, .btn:active {
    background-color: var(--logo-color);
        color: var(--bg-color);
}